{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'assets\css\nhcp_css\home_care_services\home_care_services.css' %}">
    {% endblock %}
    
    {% block content %} 
        <!-- <h1>Home Care Services</h1> -->
        <div class="container">
            <div class="service-card">
                <a href="{% url 'book_home_care_service' 'Nursing' %}">
                    <div class="service-info">
                        <img src="static\assets\icons\nurse_80.png" alt="Service 1">
                        <div class="service-name">Nursing</div>
                    </div>
                    <button class="btn-primary appointment_book_btn">
                        <a href="{% url 'book_home_care_service' 'Nursing' %}">
                            Book Appointment
                        </a>
                    </button>
                </a>
            </div>
            <div class="service-card">
                <a href="{% url 'book_home_care_service' 'Physiotherapy' %}">
                    <div class="service-info">
                        <img src="static\assets\icons\physiotherapy_80.png" alt="Service 1">
                        <div class="service-name">Physiotherapy</div>
                    </div>
                    <button class="btn-primary appointment_book_btn">
                        <a href="{% url 'book_home_care_service' 'Physiotherapy' %}">Book Appointment</a>
                    </button>
                </a>
            </div>
            <div class="service-card">
                <a href="{% url 'book_home_care_service' 'Elder Care' %}">
                    <div class="service-info">
                        <img src="static\assets\icons\elder_care_80.png" alt="Service 1">
                        <div class="service-name">Elder Care</div>
                    </div>
                    <button class="btn-primary appointment_book_btn">
                        <a href="{% url 'book_home_care_service' 'Elder Care' %}">Book Appointment</a>
                    </button>
                </a>
            </div>
            <div class="service-card">
                <a href="{% url 'book_home_care_service' 'Diagnostic' %}">
                    <div class="service-info">
                        <img src="static\assets\icons\diagnostic_80.png" alt="Service 1">
                        <div class="service-name">Diagnostic</div>
                    </div>
                    <button class="btn-primary appointment_book_btn">
                        <a href="{% url 'book_home_care_service' 'Diagnostic' %}">Book Appointment</a>
                    </button>
                </a>
            </div>
            <div class="service-card">
                <a href="{% url 'book_home_care_service' 'Ambulance Services' %}">
                    <div class="service-info">
                        <img src="static\assets\icons\ambulance_80.png" alt="Service 1">
                        <div class="service-name">Ambulance Services</div>
                    </div>
                    <button class="btn-primary appointment_book_btn">
                        <a href="{% url 'book_home_care_service' 'Ambulance Services' %}">Book Appointment</a>
                    </button>
                </a>
            </div>
            <div class="service-card ">
                <a href="{% url 'book_home_care_service' 'Nursing' %}">
                    <div class="service-info">
                        <img src="static\assets\icons\nurse_80.png" alt="Service 1">
                        <div class="service-name">Nursing</div>
                    </div>
                    <button class="btn-primary appointment_book_btn">
                        <a href="{% url 'book_home_care_service' 'Nursing' %}">Book Appointment</a>
                    </button>
                </a>
            </div>
            <!-- <div class="service-card ">
                <div class="service-info">
                    <img src="static\assets\icons\nurse.png" alt="Service 1">
                    <div class="service-name">Nursing</div>
                </div>
                <button class="btn-primary appointment_book_btn">Book Appointment</button>
            </div>
            <div class="service-card ">
                <div class="service-info">
                    <img src="static\assets\icons\nurse.png" alt="Service 1">
                    <div class="service-name">Nursing</div>
                </div>
                <button class="btn-primary appointment_book_btn">Book Appointment</button>
            </div> -->
        </div>
    {% endblock %}

    {% block scripts %}
        
        
    {% endblock %}