<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../../static/assets/css/user_registration_mail.css"> -->
</head>
<body>
    <div id="welcome-to-wellness-hospitals" style="font-size: 16px;">
        <div class="header">
            <h1>Welcome To Wellness Hospitals</h1>
        </div>
        <div class="content">
            <p>Hello {{ recipient_name|title }},</p>
            <p>Your login id: {{ recipient_email }}</p>
            
            <p>Thank you for registering with Neighbourhood Healthcare Program!</p>
            <p>Click on the below button to Verify Your Email</p>
            <button class="complete_registration_button" style="background-color: #2490ef; color: white; padding: 10px 15px; text-decoration: none; display: inline-block; font-size: 16px; margin-top: 15px; border-radius: 5px; border: none;">
                <a href="http://{{IP_ADDRESS}}{{PORT}}/auth/verify_mail/{{email_token}}" style="text-decoration: none; color: white;">Verify Your Mail</a>
            </button>
            <p>If the button above does not work, you can also copy and paste the following link into your browser:</p>
            <p>http://{{IP_ADDRESS}}{{PORT}}/auth/verify_mail/{{email_token}}</p>
            <span>Best Regards,</span><br>
            <span>Wellness Hospitals</span>
        </div>
      </div>
</body>
</html>