#forgot_password_wellness_logo{
    height: 100px;
    width: 130px;
    margin-left: -22px;
}
#error_container{
    display: none;
    border: 1px solid red;
    padding: 5px 5px;
    color: red;
    margin-bottom: 10px;
}
#success_container{
    display: none;
    border: 1px solid green;
    padding: 5px 5px;
    color: green;
    margin-bottom: 10px;
}
.main-signup-footer a:hover{
    color: white;
}