.dependent_added_success_msg{
    margin: 20px auto 0 auto;
    width: 57%;
    text-align: center;
}

/* input.parsley-error */
.parsley-error {
    /* color: #B94A48; */
    /* background-color: #F2DEDE !important; */
    border: 1px solid #f34343 !important;
}

select.form-control.parsley-success {
    border-color: #24d5b8;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org…27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z\'/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

#add_dependent_cant_change_div{
    margin: 20px auto 0 auto;
    animation: slideIn 0.5s ease-in-out;
    width: 57%;
    text-align: center;
}
.intl-tel-input,
.intl-tel-input input {
    width: 100% !important;
}

ul[role="menu"] {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* Removes the bullet points */
    padding: 0;
    /* Removes default padding */
}

ul[role="menu"] li:not(:first-child) {
    display: flex;
    gap: 10px;
    /* Adjusts the space between the Add Dependent and Next buttons */
}

/* Optional: If you need the last two items to be closer together and separate from the first */
ul[role="menu"] li:nth-child(2) {
    margin-left: auto;
}

#addMoreDependents {
    /* display: none; */
    background-color: var(--primary-bg-color);
    padding: 9px 25px;
    line-height: 1.573;
    color: #FFF;
    border-radius: 3px;
    margin-right: 10px;
    border: none;
}
#document_tooltip{
    font-size: 11px;
}

#firstname::first-letter {
    text-transform: uppercase
  }

@keyframes slideIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(100%);
    }
}


@media screen and (max-width:750px) {
    #add_dependent_cant_change_div{
        width: 90%;
    }
}

@media screen and (max-width:600px) {
    .wizard > .actions > ul{
        flex-direction: column;
    }
    .actions li:nth-child(1) a{
        width: fit-content;
    }
    .actions li:nth-child(2) a{
        margin-left: inherit;
    }
}


