#reset_password_wellness_logo_div{
    justify-content: center;
}
#reset_password_wellness_logo{
    height: 100px;
    width: 130px;
    margin-left: -22px;
}
#error_container{
    display: none;
    border: 1px solid red;
    padding: 5px 5px;
    color: red;
    margin-bottom: 10px;
}