{% load static %}
<!-- JQuery min js -->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

		<!-- Bootstrap js -->
		<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
		<!-- Moment js -->
		<script src="{% static 'assets/plugins/moment/moment.js'%}"></script>

		<!-- eva-icons js -->
		<script src="{% static 'assets/js/eva-icons.min.js'%}"></script>

		<!-- generate-otp js -->
		<script src="{% static 'assets/js/generate-otp.js'%}"></script>

		<!--Internal  Perfect-scrollbar js -->
		<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>

		<!-- CUSTOM JS -->
		<script src="{% static 'assets/js/custom.js'%}"></script>
		
		<!-- themecolor JS -->
		<script src="{% static 'assets/js/themecolor.js'%}"></script>

		<!-- exported JS -->
		<script src="{% static 'assets/js/exported.js'%}"></script>
