{% load static %}
<!-- BACK-TO-TOP -->
		<a href="#top" id="back-to-top"><i class="las la-arrow-up"></i></a>

		<!-- JQUERY JS -->
		<script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>

		<!-- BOOTSTRAP JS -->
		<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js'%}"></script>
		<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>

		<!-- MOMENT JS -->
		<script src="{% static 'assets/plugins/moment/moment.js'%}"></script>

		<!-- P-SCROLL JS -->
		<script src="{% static 'assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
		<script src="{% static 'assets/plugins/perfect-scrollbar/p-scroll.js'%}"></script>

		<!-- SIDEBAR JS -->
		<script src="{% static 'assets/plugins/side-menu/sidemenu.js'%}"></script>

		<!-- STICKY JS -->
		<script src="{% static 'assets/js/sticky.js'%}"></script>

		<!-- RIGHT-SIDEBAR JS -->
		<script src="{% static 'assets/plugins/sidebar/sidebar.js'%}"></script>
		<script src="{% static 'assets/plugins/sidebar/sidebar-custom.js'%}"></script>

		<!-- EVA-ICONS JS -->
		<script src="{% static 'assets/js/eva-icons.min.js'%}"></script>

		<!-- CUSTOM JS -->
		<script src="{% static 'assets/js/custom1.js'%}"></script>

		<!-- exported JS -->
		<script src="{% static 'assets/js/exported.js'%}"></script>

		<!-- switcher JS -->
		<script src="{% static 'assets/switcher/js/switcher.js'%}"></script>