.card-sigin{
    padding-top: 20px;
}
#error_container{
    display: none;
    border: 1px solid red;
    padding: 5px 5px;
    color: red;
}
#signup_main_logo_div{
    justify-content: center;
}
#signup_form_wellness_logo{
    height: 100px;
    width: 130px;
    margin-left: -22px;
}
#msg_div{
    padding-bottom: 0px;
}
#signup_msg_div{
    display: none;
}