{# extends 'components/custom-base.html' #}
{% extends 'components/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'assets\css\nhcp_css\nhcp_registration.css' %}">

{% endblock %}

{% block class %}

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div id="wizard2" role="application" class="wizard clearfix">
                <div class="steps clearfix" id="wizard_div">
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" data-bs-toggle="tab" href="#wizard2-p-0">
                            <span class="tab-number">1</span>
                            <span class="tab-heading">Personal Information</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#wizard2-p-1">
                            <span class="tab-number">2</span>
                            <span class="tab-heading">Add Dependents</span>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#wizard2-p-2">
                            <span class="tab-number">3</span>
                            <span class="tab-heading">Heading 3</span>
                          </a>
                        </li>
                      </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="wizard2-p-0" role="tabpanel" aria-labelledby="wizard2-h-0">
                        <div>
                            <form class="g-3 needs-validation">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="datepicker-date" class="form-label" id="dob_label">DATE OF BIRTH</label>
                                        <div class="input-group" id="dob_input_group">
                                            <div class="input-group-text">
                                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                            </div>
                                            <input class="form-control" id="datepicker-date" placeholder="MM/DD/YYYY" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="user_gender" class="form-label">Gender</label>
                                        <select id="user_gender" name="somename" class="form-control SlectBox" onclick="console.log($(this).val())" onchange="console.log('change is firing')">
                                            <option selected disabled value="">Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="foreign_address" class="form-label">Foreign Address</label>
                                        <textarea id="foreign_address" class="form-control" placeholder="" rows="3"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wizard2-p-1" role="tabpanel" aria-labelledby="wizard2-h-1">
                        <div>
                            <p>hi second div</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="wizard2-p-2" role="tabpanel" aria-labelledby="wizard2-h-2">
                        <div>
                            <p>hi third div</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

<!-- <script>
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });
</script> -->




    <script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>
    <!--Internal  Datepicker js -->
    <script src="{% static 'assets/plugins/jquery-ui/ui/widgets/datepicker.js'%}"></script>
    <!--Bootstrap-datepicker js-->
    <script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>

    <!--Internal  Select2 js -->
    <script src="{% static 'assets/plugins/select2/js/select2.min.js'%}"></script>

    <!-- Internal Jquery.steps js --> 
    
    <script src="{% static 'assets/plugins/parsleyjs/parsley.min.js'%}"></script>
    <script src="{% static 'assets/plugins/jquery-steps/jquery.steps.min.js'%}"></script>


    <script>
        //Date picker
        // $('#datepicker-date').bootstrapdatepicker({
        //     format: "dd-mm-yyyy",
        //     viewMode: "date",
        //     multidate: true,
        //     multidateSeparator: "-",
        // })
        // jquery steps
        // $("#wizard2").steps({
        //     headerTag: "h3",
        //     bodyTag: "section",
        //     transitionEffect: "slideLeft",
        //     autoFocus: true
        // });
    </script>
    <script src="{% static 'assets/js/helper_js/nhcp_registration.js'%}"></script>    
    <script src="/static/assets/js/form-wizard.js"></script>
    <!-- <script src="{% static 'assets/plugins/fileuploads/js/fileupload.js'%}"></script>
    <script src="{% static 'assets/plugins/fileuploads/js/file-upload.js'%}"></script>

    <script src="{% static 'assets/plugins/fancyuploder/jquery.ui.widget.js'%}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/jquery.fileupload.js'%}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/jquery.iframe-transport.js'%}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/jquery.fancy-fileupload.js'%}"></script>
    <script src="{% static 'assets/plugins/fancyuploder/fancy-uploader.js'%}"></script>

	<script src="{% static 'assets/js/themecolor.js'%}"></script>

    <script src="/static/assets/plugins/jquery-steps/jquery.steps.min.js"></script> -->
    <script>
        console.log('in nhcp_regis.html')
    </script>


    



    

{% endblock %}