.row{
    display: flex;
}
.submit_div{
    padding: 20px 0;
    /* text-align: center; */
    /* background-color: #fff; 
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 12px 0px; */
    /* width: fit-content; */
}
.submit_div button{
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    color: white;
    width: 75px;
}