{% extends 'components/base.html' %}
{% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'assets\css\nhcp_css\buy_health_card.css' %}">
    {% endblock %}

    {% block content %} 
        <div class="main_container">
            <div class="community_health_cards_poster">
                <!-- <img src="{% static 'assets\img\nhcp_imgs\nhcp_programs\neighbourhood hero img 1.jpeg' %}" alt=""> -->
                <img id="community_health_cards_poster_img" src="{% static health_card_img  %}" alt="">
            </div>
            <div class="main_content">
                <div class="logo_div">

                </div>
                <div class="">
                    <!-- <div class="membership_card_div">
                        <img src="{% static 'assets\img\nhcp_imgs\nhcp_programs\Basic_membership_card.png' %}" alt="">
                    </div> -->
                    <div class="plan_benefits_div">
                        <div class="plan_benefits_heading">
                            <p>Plan Benefits for You</p>
                        </div>
                        <div class="plan_benefits">
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Card Fee</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <!-- <span>20% off</span> -->
                                    <span>₹{{ membership_card.card_fee }}</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Free Doctor Consultations</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>{{ membership_card.free_doctor_consultation }}</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Pharmacy Discount</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>{{ membership_card.pharmacy_discount }}%</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Waiting Period</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>{{ membership_card.waiting_period }} days</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Preventive Health Checkup</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>{{ membership_card.preventive_health_check_up}} </span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Lab Radiology Discount</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>{{ membership_card.lab_radiology_discount}}%</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Personal Accident Insurance</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>₹{{ membership_card.personal_accident_insurance}}</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Lab Radiology Wallet</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>₹{{ membership_card.lab_radiology_wallet}}</span>
                                </div>
                            </div>
                            <div class="plan_benefit">
                                <div class="plan_benefit_first_div">
                                    <img src="{% static 'assets\img\png\flask.png' %}" alt="Icon 1" style="height: 16px;">
                                    <strong>Members Covered</strong>
                                </div>
                                <div class="plan_benefit_second_div">
                                    <span>{{ membership_card.members_covered}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="payment_form_div">
                            <form action="/assign_membership_card"  method="post">
                                <!-- <div id="add_dependent_cant_change_div" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <span> Dependent details can not be Changed, Once Added. For any changes, please contact our support at 1234567891 </span>
                                </div>  -->
                                {% csrf_token %}
                                <div class="card-body form_content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label">Fullname <span class="tx-danger">*</span></label> 
                                            <input class="form-control" id="fullname" name="fullname" placeholder="Enter fullname"  type="text" required>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Phone Number <span class="tx-danger">*</span></label>
                                            <div class="input-group telephone-input ">
                                                <input  class="form-control" type="tel" id="mobile-number" name="mobile-number" placeholder="e.g. +1 702 123 4567" required data-parsley-valid-mobile-number>
                                                <!-- <input id="mobile-number" class="form-control" name="mobile-number" placeholder="Enter your phone number"  type="tel" required data-parsley-valid-mobile-number> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-label">Email <span class="tx-danger">*</span></label>
                                            <input class="form-control" id="email" name="email" placeholder="Enter email address"  type="email" required>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="gender" class="form-label">Gender <span class="tx-danger">*</span></label>
                                            <select id="gender" name="gender" class="form-control SlectBox"  onclick="console.log($(this).val())" required data-parsley-valid-gender>
                                                <option selected disabled value="">Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="datepicker-date" class="form-label" id="dob_label" name="dob_label">DATE OF BIRTH <span class="tx-danger">*</span></label>
                                            <div class="input-group" id="dob_input_group">
                                                <div class="input-group-text">
                                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                                </div>
                                                <input class="form-control" id="health_card_payment_datepicker-date" placeholder="MM/DD/YYYY" type="text"  
                                                name="health_card_payment_datepicker" onchange="validateDependentDateOfBirth(this.value)" data-parsley-errors-container="#dependent_dob_errors" 
                                                required data-parsley-valid-date-dependent-dd-mm-yyyy>
                                            </div>
                                            <div id="dependent_dob_errors">

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="form-label">Pincode <span class="tx-danger">*</span></label> 
                                            <input class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode"  type="text" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-label">City <span class="tx-danger">*</span></label> 
                                            <input class="form-control" id="city" name="city" placeholder="Enter City"  type="text" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">State <span class="tx-danger">*</span></label> 
                                            <input class="form-control" id="state" name="state" placeholder="Enter State"  type="text" required>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row"> -->
                                <div class="col-md-12 submit_div">
                                    <button type="submit"> Proceed To Pay </button>
                                </div>
                                <!-- </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>            
    {% endblock %}

    {% block scripts %}
        <script src="{% static 'assets/plugins/jquery/jquery.min.js'%}"></script>
        <script src="{% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js'%}"></script>
        <script>
                $('#health_card_payment_datepicker-date').bootstrapdatepicker({
                format: "dd-mm-yyyy",
                viewMode: "date",
                multidateSeparator: "-",
                orientation: 'bottom',
                todayHighlight: true,
            })
        </script>
        <!-- Internal TelephoneInput js-->
        <script src="{% static 'assets/plugins/telephoneinput/telephoneinput.js'%}"></script>
        <script src="{% static 'assets/plugins/telephoneinput/inttelephoneinput.js'%}"></script>
        
    {% endblock %}
