<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div style="max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); font-size: 16px;">
        <h2 style="color: #333333;">Forgot Password?</h2>
        <p style="color: #666666; margin-bottom: 15px;">Hello, {{ recipient_name|title }}</p>
        <p style="color: #666666; margin-bottom: 15px;">We received a request to reset your password. If you did not make this request, you can ignore this email.</p>
        <button style="background-color: #007bff; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">
            <a href="http://{{IP_ADDRESS}}{{PORT}}/auth/reset_password/{{email_token}}" target="_blank" style="color: #ffffff; text-decoration: none;">Reset Password</a>
        </button>
        <p style="color: #666666; margin-top: 15px; margin-bottom: 15px;">If the above link doesn't work, copy and paste the following URL into your browser:</p>
        <p style="color: #666666; margin-bottom: 15px;">http://{{IP_ADDRESS}}{{PORT}}/auth/reset_password/{{email_token}}</p>
        <p style="color: #666666; margin-bottom: 15px;">This link will expire by {{expiry_time}} for security reasons.</p>
        <p style="color: #666666; margin-bottom: 15px;">If you have any questions, please contact our support team.</p>
        <p style="color: #666666;">Thank you!</p>
        <p>Wellness Hospitals</p>
    </div>
</body>
</html>
