{% extends 'components/custom-base.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}

    {% block class %}

        <div class="bg-primary">

    {% endblock %}

    {% block content %}

				<!-- Main-error-wrapper -->
				<div class="main-error-wrapper page page-h">
					<!-- <h1 class="text-white">404<span class="tx-20">error</span></h1> -->
                    {% if msg %}
					    <!-- <h2 class="text-white">Invalid Link, Try Again With Link Sent In The Mail</h2> -->
                        <h2 class="text-white">{{ msg }}</h2>
                    {% endif %}
					<!-- <h6 class="tx-white-6">You may have mistyped the address or the page may have moved.</h6> -->
                    <a class="btn btn-light" href="/auth/forgot_password_page">Back to Forgot Password Page</a>
				</div>
				<!-- /Main-error-wrapper -->
        </div>
    {% endblock %}

    {% block scripts %}

    {% endblock %}
